.gitignore
.bash_history
*.json
*.html
*.group
*.log
*.zip
*.pyc
*.csv
*.csv#
*.png
*.ods
*.ods#
*.odg
*.odg#
*.odt
*.odt#
*.txt
*.pickle
*.pkl
*.pdf
*.npy
*.gz
tmp*
_pycache_/*
.cache
.ipynb_checkpoints/
archive
archive/
